@media (max-width: 1150px) {
	.content {
		width: 95%;
	}
}

@media (max-width: 500px) {
	.about {
		&__container {
			flex-direction: column-reverse;
		}
	}
	.my-photo {
		align-self: center;
		margin-bottom: 20px;
	}
}
