@media (min-width: 651px) and (max-width: 850px) {
	.portfolio-list {
		&__item {
			width: 33.3%;
		}
	}
}

@media (min-width: 451px) and (max-width: 650px) {
	.portfolio-list {
		&__item {
			width: 50%;
		}
	}
}

@media (max-width: 450px) {
	.portfolio-list {
		&__item {
			width: 100%;
		}
	}
}
